@font-face {
    font-family: "norsebold";
    src: url("assets/Norse-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    max-height: 100vh;
    flex-direction: row;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.banner-background-logo {
    background-image: url("assets/backsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 30%;
    padding-top: 185px;
}

#banner {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 130px;
}

#logo-img {
    height: 80%;
}

#odin-text {
    font-family: "norsebold", sans-serif;
    font-size: 6rem;
    color: white;
}

#image-credit, #image-credit a {
    font-size: 0.8rem;
    color: white;
}

#image-credit {
    position: fixed;
    bottom: 0;
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
}
